<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Solo à Nuvem - Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Bem-vindo ao Do Solo à Nuvem!</h1>
        <p>Esta é a página inicial da aplicação.</p>
        <a href="{{ url_for('loginpage') }}">Login</a>
        <a href="{{ url_for('registro') }}">Registrar</a>
    </div>

</body>
</html>