<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do Solo à Nuvem - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registro.css') }}">
</head>
<body>
    <div class="container">
        <h1>Do Solo à Nuvem</h1>
        <div class="card">
            <div class="left">
                <h2>Bem-vindo</h2>
                <p>Crie sua conta</p>
            </div>
            <div class="right">
              
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul style="margin-bottom:12px;">
                      {% for message in messages %}
                        <li style="color:#ffb3b3;">{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

                <form method="POST">
                    <label><input type="text" name="usuario" placeholder="Nome de usuário" required></label>
                    <label><input type="email" name="email" placeholder="E-mail" required></label>
                    <label><input type="password" name="senha" placeholder="Senha" required></label>
                    <label><input type="password" name="confirmar" placeholder="Confirmar senha" required></label>

                    <button type="submit" class="btn">CADASTRAR</button>
                </form>
            </div>
        </div>
        <div class="link">
            <a href="{{ url_for('loginpage') }}">Já tenho uma conta</a>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li style="color:red;">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
